
@import "node_modules/bootstrap/scss/bootstrap.scss";

.navbarBG{
  margin-left: 15px;
  width: 100%;
  height: 9vh;
  background-color: #363535;
  border: 1px solid #d47501;
  font-size: 1.1rem;
  color: white !important;
  
  .navButtons {

    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .navContact {
    float:right;
  }

}


